<!DOCTYPE html>
<html lang="en">
<head>
<title>Doctor Who</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'>
<link rel="stylesheet" href="/doctorwho/code-assets/css/global.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  
<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/doctorwho/">
      <img src="/doctorwho/code-assets/logos/new-text-orange.png" alt="DW" height="28">
    </a>
  </div>
</nav>

<div class="container is-fluid" style="padding:8px">
    
    <div style="display: block; margin-right:auto; margin-left: auto; width:90%;">
     
        <div class="video-container">
            <video src="#" id="episode-video" controls><h1 class="has-text-white">Opps...</h1></video>
        </div>
        
        <div class="episode-links">
            <a id="back-episode" class="episode-link" href="#" title="Back Episode">&lt;</a><a id="forward-episode" class="episode-link" href="#" title="Forward Episode">&gt;</a>
        </div>
        
        <h2 class="is-size-3 has-text-white" id="episode-title">Loading Title...</h2>
            <p class="has-text-grey-light"><span id="episode-info"></span> | Year: <span id="episode-year"></span></p>

            <a onclick="toggleSettingsMenu()" class="settings-btn is-dark"><i class="material-icons has-text-grey-light">settings</i></a>

            <div>
                <div class="settings" id="settings-menu" style="display: none"><!--settings-->
                    <h3 class="is-size-5 settings-title">Settings</h3>

                    <hr style="margin:.25rem 0 .5rem 0;" />

                    <p class="settings-title" >Page autoplay</p>

                    <center style="margin-bottom: .5rem">
                        <button class="button is-small is-dark has-background-black-ter" onclick="enableAutoplay();toggleSettingsMenu();" id="autoplay-btn-enable">Enable</button>
                        <button class="button is-small is-dark has-background-black-ter" onclick="disableAutoplay();toggleSettingsMenu();" id="autoplay-btn-disable">Disable</button>
                    </center>

                    <!--<hr style="margin:.5rem 0;" />-->
                </div><!--/settings-->
            </div>


            <!-- seasons -->

            <h1 class="is-size-4 has-text-light show-title">Season <span id="season-num">Loading...</span></h1>
            <div>
                <a class="is-small navLink has-text-white-bis" title="Back Season" id="back-season" href="/doctorwho/">&lt;</a>
                <a class="is-small navLink has-text-white-bis" title="Forward Season" id="forward-season" href="/doctorwho/">&gt;</a>
            </div>

            <div id="episode-grid" class="has-text-light">

            </div>
        
    </div>
    
</div><!-- end container -->
    <br />
<script src="/doctorwho/code-assets/js/global.js"></script>
<script src="/doctorwho/code-assets/js/episodes.js"></script>
<script src="/doctorwho/code-assets/js/view.js"></script>
<script src="/doctorwho/code-assets/js/season.js"></script>
<script>
loadEpisodeGrid();
loadEpisode();
loadViewPageTitle();
loadSeasonPagination("view");
loadEpisodePagination();
window.onload = getSettingAutoplay();
</script>
</body>
</html>